.footer-two {
  font-family: var(--ds-open-sans);
  font-size: 12px;
}
.link { 
  text-decoration: none;
  color: black;
}

@media (max-width: 760px) {
  .footer-two {
    border: 8px solid blue;
  }
}