.faq {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
  cursor: pointer;
}

.header-logo {
  cursor: pointer;
}

.discover {
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer;
}
.horizontal-line {
  /* color: var(--ds-black);
  border: 1px solid var(--ds-black); */
  opacity: 1;
}

@media (max-width: 670px) {
  .nav-sub-header {
    display: none;
  }
}