.discover-page {
  display: flex;
}

.right-container {
  display: flex;
  flex: 3;
}

.background-image-container {
  display: flex;
  background-image: url(../../assets/images/background.svg);
  background-clip: content-box;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

.nft-title {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 50.52px;
  line-height: 90%;
  /* or 45px */
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: capitalize;
  color: var(--ds-white);
}

.nft-author {
  /* Title/Subtitle 1 */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 37.9px;
  line-height: 52px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;

  color: var(--ds-white);
}

.page-title {
  display: none;
}

@media (max-width: 850px) {
  .nft-title {
    font-size: 35px;
  }

  .nft-author {
    font-size: 18px;
  }
}

@media (max-width: 760px) {
  .discover-page {
    flex-direction: column;
  }

  .right-container {
    order: -1;
    flex: 1;
  }

  .page-title {
    display: block;
  }

  .background-image-container {
    height: 50vh;
  }

  .nft-title {
    font-size: 32px;
  }

  .nft-author {
    font-size: 16px;
    margin-top: -15px;
  }

}