.nft-page-caro {
  display: none;
}

.caro-title {
  font-family: var(--ds-roboto-mono);
  font-weight: normal;
  font-size: 16px;
  color: var(--ds-black);
}

.caro-text {
  font-family: var(--ds-open-sans);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}
.media {
  display: flex;
}
.carousel-custom-hr {
  width: 100%;
  opacity: 1;
  margin-top: -1px;
}

/* @media  ( min-width: 100px) and (max-width: 400px) {
  .nft-page-caro {
    display: block;
  }
} */

@media (min-width: 769px) and (max-width:2560px) {
  .media {
    display: none;
  }
  .q {
    display: none;
  }
}